* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  background: #f5f7fa;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 40px;
  padding-top: 40px;
  font-family: Montserrat;
}

.maindivback {
  background: #ffffff;
  display: flex;
  max-width: 1200px;
  margin: auto;
  box-shadow: 5px 9px 20px rgba(0, 0, 0, 0.15);
}

.myinfocont {
  width: 100%;
  padding-top: 70px;
  padding-left: 90px;
  padding-right: 90px;
  background: #d1e8e2;
}

.sidebarstyle {
  background: rgb(17,100,102);
background: linear-gradient(180deg, rgba(17,100,102,1) 0%, rgba(209,232,226,1) 100%);
  width: 370px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.photosize {
  height: 400px;
  width: 370px;
  object-fit: cover;
  object-position: center;
}

.contacts {
  margin-top: 60px;
  margin-left: 40px;
  margin-right: 40px;
}

.contactstitle {
  color: #2c3531;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 20px;
}

.contactlink {
  color: #c76100;
  text-decoration: none;
  transition: all .2s ease-in-out;
  line-height: 1.5;
}
.contactlink:hover {
  text-decoration: underline;
}

.cstyle {
  color: #2c3531;
  font-weight: 700;
  letter-spacing: 0.42px;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}

.estyle {
  color: #2c3531;
  font-weight: 700;
  letter-spacing: 0.42px;
  font-size: 14px;
  line-height: 24px;
  margin-right: 10px;
}

.proffesion {
  color: #116466;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}

.name {
  color: #2c3531;
  font-size: 40px;
  font-weight: 700;
  line-height: 89px;
}

.lorem-ipsum {
  color: #797369;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.infocontainer {
  margin-bottom: 40px;
}

.about-me-title {
  color: #d48845;
  font-size: 22px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 25px;
  margin-top: 30px;
}

.tech-name {
  color: #797369;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.worktitle, .title {
  color: #2c3531;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.orange-title {
  text-decoration: none;
  color: #008486;
  transition: all .2s ease-in-out;
}

.orange-title:hover {
  color: #f19f24;
}

.orange-title.line {
  line-height: 1.5;
}

.timework {
  color: #797369;
  font-size: 12px;
  font-weight: 400;
  line-height: 24px;
}

.slsh {
  color: #000000;
  font-weight: 700;
  margin-left: 5px;
}

.ican3 {
  color: #797369;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
}

.all-work-exp {
  margin-bottom: 47px;
}

.management-title {
  color: #000000;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  margin-bottom: 10px;
}

.ican1 {
  color: #595959;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
}

.ican2 {
  color: #797369;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  margin-left: 17px;
}

@media (min-width: 0px) and (max-width: 1199px) {
  .myinfocont {
  padding-left: 30px;
  padding-right: 30px;
  }
  .photosize {
    width: 270px;
    height: 300px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .name {
    font-size: 28px;
    line-height: 1.5;
  }
  .proffesion, .about-me-title {
    font-size: 20px;
  }
  .worktitle, .title {
    font-size: 14px;
  }
  .sidebarstyle {
    width: 200px;
  }
  .photosize {
    width: 200px;
    height: 230px;
}
.contacts {
  margin-top: 30px;
  margin-left: 15px;
  margin-right: 15px;
}
.myinfocont {
  padding-top: 30px;
}
}